body{
    font-family: 'Roboto';
    width: 1000px;
    align-items: center;
    margin: auto;
}
img{
    height: 310px;
    margin: 10px;
}
fieldset{
    margin: 10px 0;
    border-color: #077C96;
}
P {
    line-height: 1.0;
}
header{
    background-color: #077C96;
    height: 64px;
    padding: 10px;
}
.title{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 42px;
    font-weight: 200;
    color: #fff
    
}
footer{
    background-color: #077C96;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
}
.text{
    line-height: 1.1;
    text-indent: 20px;
}

.sertificates{
    display: flex;
    padding: 20px;
    align-items:center;
}
.line_of_serts{
    display: flex;
    justify-content: space-around;
}
.sertificate{
    width: 95%;
    height: auto;
    box-shadow: 6px 5px 5px #077C96;
    cursor: pointer;
}